@import "tailwindcss";

@theme {
  --font-sans: "area-normal", sans-serif;
  --font-serif: "karol", serif;

  --color-red: #590915;
  --color-orange: #f05924;
  --color-pink: #f5b8b8;
  --color-blue-100: #b7d9ff;
  --color-blue-300: #3c415d;
  --color-blue-600: #1e2237;
  --color-beige: #f3ece0;
  --color-white: #fff9f5;
  --color-black: #333333;

  --text-h1: clamp(36px, 15px + 4.375vw, 64px);
  --text-h2: clamp(32px, 20px + 2.5vw, 48px);
  --text-h3: clamp(28px, 20.5px + 1.563vw, 38px);
  --text-h4: clamp(22px, 14.5px + 1.563vw, 32px);
  --text-h5: clamp(16px, 14.5px + 0.313vw, 18px);
  --text-body: clamp(18px, 13.5px + 0.938vw, 24px);

  --section-padding: clamp(35px, 8.75px + 5.469vw, 70px);
}

body {
  font-family: var(--font-sans);
}
p {
  @apply text-body;
}

.section-padding {
  padding: clamp(35px, 8.75px + 5.469vw, 70px) 0;
}
